body, html{
    background-color: #21232A;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 2rem ;
}

button{
    padding: .5rem 2em;
    margin: 4px;
    border-radius: 2px;
    /* background-color: orange; */
    outline: none;
    border: none;
    cursor: pointer;
}